# Virtual environment
venv/

# Environment variables and secrets
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/



# Generated/processed data
data/processed/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/